trainrecord
# Videos are put here but should not be tracked by git
videos/*
!videos/.keep

# Python compiled files
*.pyc

# WAV files
*.wav

# Logs
*.log
csv/label2games_audio.csv
csv/label2games_image.csv
csv/label2games_motion.csv
csv/label2musics_audio.csv
csv/label2musics_image.csv
csv/label2musics_motion.csv
csv/label2news_audio.csv
csv/label2news_image.csv
csv/label2news_motion.csv
csv/label2sports_audio.csv
csv/label2sports_image.csv
csv/label2sports_motion.csv
csv/header.txt
